{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="ad-wrapper">
    <div class="back">
        <a class="button-client" href="{% url 'client_log_profile' %}">Zpět do profilu</a>
    </div>
</div>

<div class="client-ads-detail">
    <h2>Uchazeč: {{ response.name }}</h2>
    <p><strong>Email:</strong> {{ response.email }}</p>
    <p><strong>Zpráva:</strong></p>
    <p>{{ response.message }}</p>

    <div class="client-buttons">
    {% if response.cv %}
        <a class="button-client" href="{{ response.cv.url }}" download>Stáhnout CV</a>
    {% endif %}

        <a class="button-client" href="{% url 'response_delete' response.id %}">Smazat</a>
    </div>
</div>

{% endblock %}