{% extends "layout.html" %}
{% block content %}

    <div>
    <h2>Platba za inzerát</h2>
    <p>Inzerát: {{ payment.title }}</p>

    {% if payment.highlight %}
      <p>Cena: 2500 Kč</p>
    {% else %}
      <p>Cena: 1500 Kč</p>
    {% endif %}
    </div>
    <div class="payment-form">
    <img src="/static/media/stripe.png" class="payment-img">


    <form method="post" action="{% url 'payment_success' %}?ad_id={{ payment.pk }}" id="paymentForm">
      {% csrf_token %}
        {{ payment_form.as_p }}
      <button type="submit" class="payment-button">Potvrdit platbu</button>
    </form>
    </div>


{% endblock %}