{% extends "layout.html" %}
{% block content %}
    <div>
        <h2>Platba za inzerát</h2>
        <p>Inzerát: {{ payment.title }}</p>

        {% if payment.highlight %}
            <p>Cena: 2500 Kč</p>
        {% else %}
            <p>Cena: 1500 Kč</p>
        {% endif %}

        <form class="payment-form">
            {{ payment_form.as_p }} {# mock payment form, doesn't use POST #}
        </form>

        <form method="post" action="{% url 'payment_success' %}?ad_id={{ payment.pk }}">
            {% csrf_token %}
            <button type="submit">Potvrdit platbu</button>
        </form>
    </div>
{% endblock %}