{% extends "layout.html" %}
{% load static %}
{% block content %}
<h1>Nabídky práce</h1>

<div>
    <form method="get" action="{% url 'ads_list' %}">
        <label for="region">Kraj:</label>
        <select name="region" id="region">
            <option value="">vyberte</option>
            {% for region in regions %}
                <option value="{{ region.id }}" {% if request.GET.region == region.id %}selected{% endif %}>{{ region.name }}</option>
            {% endfor %}
        </select>

        <label for="district">Okres:</label>
        <select name="district" id="district">
            <option value="">vyberte</option>
            {% for district in districts %}
                <option value="{{ district.id }}"
                        data-region="{{ district.region_id_id }}"
                        {% if district.GET.region == district.id %}selected{% endif %}>
                    {{ district.name }}
                </option>
            {% endfor %}
        </select>

        <label for="position">Pozice:</label>
        <select name="position" id="position">
            <option value="">vyberte</option>
            {% for position in positions %}
                <option value="{{ position.id }}" {% if request.GET.position == position.id %}selected{% endif %}>
                    {{ position.name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filtrovat</button>
    </form>
</div>
<div>
    <p>Počet inzerátů: {{ ads_list|length }}</p>
</div>
{% if not ads_list %}
    <p>Žádné inzeráty k zobrazení.</p>
{% endif %}

<div>
    {% for advertisement in ads_list %}
     <table>
          <tr>
            <td>
              <a href="{% url 'ad_detail' advertisement.id %}">
                <h3>{{ advertisement.title }}</h3>
              </a>
              <p>{{ advertisement.client.city }}</p>
            </td>
          </tr>
          <tr>
            <td>{{ advertisement.created }}</td>
          </tr>
          <tr>
            <td>
                <div class="ad-text" data-full="{{ advertisement.text_content|escape }}">
                    {% if advertisement.text_content|wordcount > 20 %}
                        {{ advertisement.text_content|truncatewords:20 }}
                    <span class="read-more">zobrazit více</span>
                    {% else %}
                        {{ advertisement.text_content }}
                    {% endif %}
                </div>
            </td>
          </tr>
    </table>
  {% endfor %}
</div>
{% endblock %}