{% extends "layout.html" %}
{% load static %}
{% block content %}

  <h1>{{ ad_detail.title }}</h1>
    <p><strong>Datum vystavení:</strong> {{ ad_detail.created }}</p>
    <p><strong>Publikoval podnik:</strong> {{ ad_detail.created_by }}</p>
    <p><strong>Nabízený plat:</strong> {{ ad_detail.salary }} Kč</p>
    <p><strong>Popis pozice:</strong></p>
    <p>{{ ad_detail.text_content }}</p>

  <h2>Odpovědět na inzerát</h2>

  {% if form_submitted %}
    <h2>Vaše odpověď byla odeslána.</h2>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button-add" type="submit">Odeslat odpověď</button>
    </form>
  {% endif %}

{% endblock %}
