* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.main-home {
  height: 100vh;
  color: black;
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}


header {
  background: #222222;
  height: 80px;
  display: flex;
  color: white;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: left;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  flex: 50px 0 0;
}

footer {
  background: #333333;
  height: 50px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  padding: 10px;
}

a.logo {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a.logo:hover {
  color: lightblue;
}

.welcome {
  display: block;
  color: #333333;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  width: 100vh
 }

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 12px 12px;
  background-color: lightblue;
}

.button-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.button-menu .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222222;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-menu .button:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.button-menu .button:active {
  transform: scale(1.08);
  }

.button:hover {
  color: lightblue;
}

table, th, td{

  border: 0.3px solid black;
  border-collapse: collapse;
  text-align: left;
  justify-content: center;
  padding: .5em;
  margin: 1.25em auto;
  color: #222222;
}

table {
  margin-top: 20px;
  width: 900px;
  background-color: #fdf8ff;
}

.button-add{
  display: inline-block;
  padding: 10px 10px;
  background-color: #222222;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px
}

.button-add:hover {
  color: lightblue;
  transform: scale(1.1);
}

.nav-right {
  margin-left: auto;
  margin-right: 30px;
}

.btn-reg {
  display: flex;
  padding: 10px 20px;
  background-color: #222222;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer
}

.btn-reg:hover {
  color: lightblue;
  transform: scale(1.08);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.centered {
  text-align: center;
}

.price {
    display: block;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-title {
  background: #222222;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

}
.dropdown ul {
  background: #222222;
  color: white;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 130px;
  left: 1px;
  transition: all .3s linear;
  border-radius: 10px;
}

.dropdown ul li {
  padding: .3em .6em;
  text-align: center;
}
.dropdown ul li a {
  display: block;
  padding: .3em .6em;
  text-decoration: none;
  text-align: center;
  color: white;
}

.dropdown ul li a:hover {
  color: lightblue;
  transform: scale(1.08);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.hidden {
  transform-origin: top;
  transform: translateY(-200px);
  opacity: 0;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
}

.modal-bg.visible {
  display: flex;
}

.modal-content {
  background: white;
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  min-height: 700px;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  flex-direction: column;
  margin:2rem;
  align-items: flex-start;
  gap: 0.3rem;
  position: relative;
}


.modal-footer {
  flex-basis: 80px;
  flex-grow: 0;

}

.modal-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin:0;
  align-items: flex-start;
  position: relative;
  border-top: 5px solid lightblue;
  border-bottom: 5px solid lightblue;
}

.modal-header p {
  margin: 0.2rem 0;
  line-height: 1.3;
}

.modal-footer {
  padding: 1rem;
}

.modal-header {
  font-size: 1.2rem;
}

.modal-center p {
  font-size: 1.2rem;
  margin-left: 2rem;
  line-height: 1.3;
}

.modal-footer {
  justify-content: center;
  gap: 1rem;
}

.closing-x {
  align-self: flex-end;
  background: #222222;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: .5rem;
  border: 1px solid #222222;
  border-radius: 10px;
}

.closing-x:hover {
  color: lightblue;
  transform: scale(1.08);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.h1-modal {
    font-size: 1.7rem;
    padding: 0;
    margin-bottom: 1em;
}