{% load static %}

<!doctype html>
<html
        {% if LANGUAGE_CODE %}
            lang="{{ LANGUAGE_CODE }}"
        {% else %}
            lang="en"
        {% endif %}
>
<head>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'viewer/css/layout.css' %}">
    <title>{% block title %}GastroFlek.cz{%endblock%}</title>
</head>
<body>
    <header>
        <h1>GastroFlek.cz</h1>
    </header>
    {% include "navbar.html" %}
        <main>
        {% block content %}
            {% endblock %}
        </main>
    <footer>Made by SDA</footer>
</body>
</html>