{% load static %}

<!doctype html>
<html
        {% if LANGUAGE_CODE %}
            lang="{{ LANGUAGE_CODE }}"
        {% else %}
            lang="en"
        {% endif %}
>
<head>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'viewer/css/layout.css' %}">
    <script src="{% static 'viewer/js/script.js' %}" defer></script>
    <title>{% block title %}gastroboard.cz{% endblock %}</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img src="{% static 'media/GB3.png' %}" alt="Logo" class="logo-img">
    </a>
    <h1 class="logo-title"></h1>
</header>
{% include "navbar.html" %}
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>Made by SDA students</footer>
</body>
</html>