<nav>
    <div>
        <div>
            <div class="button-menu">
                <a class="button" href="{% url 'home' %}">Hlavní stránka</a>
                <a class="button" href="{% url 'ads_list' %}">Inzeráty</a>
                <a class="button" href="{% url 'ad_creation' %}">Přidat inzerát</a>
                <a class="button" href="{% url 'pricing' %}">Ceník</a>
                <a class="button" href="{% url 'client_creation' %}">Vytvořit podnik</a>
            </div>
        </div>
    </div>
</nav>